.container{
    background-image: url(background9.jpg);
    background-repeat: repeat;
    background-size:cover;
    width: 100%;
    
}
.container1{
    position: sticky;
    top: 0;
    
    
}

.container1 .row1 .column2 {
    text-decoration: none;
    margin-top: 85px;
    
}
li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
}
li a:hover:not(.active){
    color: rgb(12, 237, 15);
}
.active{
    background: green;
}
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0px 16px 16px 0px;
}
.dropdown-content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
}
.dropdown:hover .dropdown{
    background-color: white;
}
.container1 .row1{
    display: flex;
}
.container2{
   margin-left: 300px;
    color:white;
    margin-top: 250px;
}
.b button{
    position: relative;
    background-color: yellowgreen;
    color:white;
    padding: 16px;
    border-radius: 30px;
    border: none;
    overflow: hidden;
    transition:  0.4s;
    cursor: auto;
}
.b button:hover:not(.active){
   background-color: black;
  border: 1px solid  rgba(75, 210, 70, 0.881) ;
} 
/* .b button::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: rgb(12, 12, 12);
    transition: width 0.4s;
}
.b button:hover::before{
    width: 100%;
}
.b button:hover{
    color: white;
} */
 .container3 .row1{
    display: flex;
    gap: 50px;
    padding: 10px;
    
 }
 .container3 .row1 .column1{
   
    
    left: 0;
    animation: move-left-to-right 10s linear infinite;
 }
 @keyframes move-left-to-right{
    0%{
        transform:translateX(0);
    }
    100%{
        transform: translateX(100vh);
    }
 }
 .container3{
    background-color: yellowgreen;
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 0;
    overflow: hidden;
   
 }
 .container5{
    background-image: url(background3.jpg);
    background-repeat: repeat;
    background-size:cover;
    width: 100%;
    
 }
 .container4{
    display: flex;
    gap: 80px;
    padding: 80px;
   
   
 }
 .container4 .row1{
    margin-left: 250px;

 }
.container4 .row2 .column1{
    display: flex;
    gap: 30px;
}
.container4 .row2 .column2{
    display: flex;
    gap: 30px;
}
.container6{
    width: 68%;
    margin-left: 300px;
    margin-top: 100px;
}
.container6 .row2  {
    display: flex;
     gap: 50px;
     margin-top: 50px;
}
.row {
    background-color: rgb(230, 236, 228);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
    
}
.row:hover:not(.active){
    background-color: rgb(23, 22, 22);
    color: white;
}
.container7{
    background-image: url(background10.jpg);
    background-repeat: repeat;
    background-size:cover;
    display: flex;
    margin-top: 150px;
    padding: 50px;
}
.container8{
    margin-top: 100px;
    margin-left: 240px;
    
}
.container9{
    margin-left: 80px;
    margin-top: 40px;
}
.container8 .row2{
    display: flex;
    gap: 100px;
    margin-top: 40px;
}
.container8 .row2 .column1{
    background-color: rgb(230, 236, 228);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}
.container8 .row2 .column2{
    background-color: rgb(230, 236, 228);
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 30%;
}
.container8 .row2 .column1:hover:not(.active){
    background-color: yellowgreen;
    color: white;
}
.container8 .row2 .column2:hover:not(.active){
    background-color: yellowgreen;
    color: white;
}
.container10{
    background-image: url(background11.jpg.jpeg);
    background-repeat: repeat;
    background-size:cover;
}
.container10 .row1{
    display: flex;
    gap: 190px;
    padding: 100px;
    margin-left: 300px;
}
.container11{
    background-image: url(background3.jpg);
    background-repeat: repeat;
    background-size:cover;
    width: 100%;
}
.container12{
    margin-left: 250px;
    padding: 50px;
}
.container12 .row2{
    display: flex;
    gap: 80px;
    
}
.container12 .row3 .column1{
    background-color: rgb(230, 236, 228);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
}
.container12 .row3 .column2{
    background-color: rgb(230, 236, 228);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
}
.container12 .row3 .column3{
    background-color: rgb(230, 236, 228);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
}
.container12 .row3{
    display: flex;
    gap: 157px;
    margin-top: -50px;
}
.container12 .row3 .column1:hover:not(.active){
    background-color: yellowgreen;
    color: white;
    width: 25%;
    height: 50%;
    transition: 2s;
}
.container12 .row3 .column2:hover:not(.active){
    background-color: yellowgreen;
    color: white;
    width: 25%;
    height: 50%;
    transition: 2s;
}
.container12 .row3 .column3:hover:not(.active){
    background-color: yellowgreen;
    color: white;
    width: 25%;
    height: 50%;
    transition: 2s;
}
.container13{
    text-align: center;
    margin-top: 150px;
}
.container13 .row3{
    display: flex;
    margin-left: 390px;
    gap: 180px;
}
.container14{
    background-image: url(background10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 200px;
}
.container15{
    text-align: center;
    margin-top: 0px;
}
.container16 .row1{
    display: flex;
    gap: 40px;
    background-color: white;
    border-radius: 40px;
    padding: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 40%;
}
.container16{
    display: flex;
    gap: 100px;
    margin-top: 50px;
    margin-left: 100px;
}
.container16 .row1 .column1{
    margin-top: 10px;
}
.container16 .row1 .column2 .r{
    display:flex ;
}
.s{
    margin-left: 100px;
    margin-top: 40px;
}
.container16 .row1:hover:not(.active){
    background-color: yellowgreen;
    color: white;
   
    
    transition: 2s;
}
.container17{
    text-align: center;
    background-image: url(background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container17 .row1 img{
    margin-top: -150px;
}
.container17 .row3{
    display: flex;
    gap: 60px;
    

}
.container17 .row3 .column1{
   
    gap: 40px;
    background-color: rgb(225, 228, 225);
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 20%;
}
.container17 .row3 .column1 img{
    margin-top: -200px;
}
.container17 .row3 .column1:hover:not(.active){
    background-color: yellowgreen;
    color: white;
    transition: 3s;
}
.container17 .row2{
    margin-top: 100px;
}
.container17 .row3{
    margin-top: 180px;
    margin-left: 300px;
    padding: 50px;
}
.container18 .row1{
    display: flex;
}
.container18 .row2 .column1{
    background-color: white;
    border-radius: 2px;
    border: 0.0000000px solid black;
   
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    width: 25.4%;
}
.container18 .row2{
    display: flex;
    gap: 100px;
}
.container18{
    margin-left: 300px;
    margin-top: 100px;
    
}
.container18 .row1 .column2{
    margin-left: 680px;
    margin-top: 70px;
}
.container18 .row2 .column1:hover:not(.active){
    h1{
        color: yellowgreen;
    }
}
.container19{
    background-image: url(background16.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.container19 .row1{
    text-align: center;
}
.container19 .row1 img{
    
    margin-top: 100px;
}
.container19 .row2{
    display: flex;
    gap: 80px;
    margin-top: 50px;
    margin-left: 300px;
    color: white;
}
.container19 .row3{
    text-align: center;
    padding: 20px;
    color: white;
}